@media (max-width: 1780px) {
  .questions {
    margin-bottom: 55px;
  }
  .questions-container {
		padding: 0 15px;
  }

  .questions-title {
    font-size: 47px;
  }

  .questions__item {
    padding-right: 0;
    display: flex;
    align-items: center;
  }

  .questions-item__visible {
    padding: 25px 5px;
  }

  .questions-item__head {
    width: 83%;
  }

  .questions-item__invisible {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .questions {
    margin-bottom: 80px;
  }

  .questions-container {
    padding: 0 45px;
  }

  .questions-title {
    letter-spacing: 0.8px;
    margin-bottom: 30px;
  }

  .questions__item {
    display: flex;
    align-items: center;
    padding: 0;
  }

  /* .questions__item:nth-child(2n) {
    margin-top: 0px;
    padding-bottom: 24px;
  } */

  .questions-item__head {
    font-size: 20px;
    width: 83%;
  }

  .questions-item__visible {
    padding-top: 37px;
    padding-bottom: 23px;
  }
}

@media (max-width: 768px) {
  .questions {
    margin-bottom: 85px;
  }

  .questions-container {
    padding: 0 45px;
  }

  .questions-title {
    margin-bottom: 35px;
  }

  .questions__item {
    padding: 0;
    padding-left: 5px;
    display: flex;
    align-items: center;
  }

  /* .questions__item:nth-child(2n) {
    margin-top: 0px;
    padding-bottom: 24px;
  } */

  .questions-item__head {
    font-size: 20px;
    width: 86%;
  }

  .questions-item__visible {
    padding-left: 0;
    padding-top: 37px;
    padding-bottom: 22px;
  }
}

@media (max-width: 475px) {
  .questions-title {
    font-size: 30px;
    line-height: 36px;
  }

  .questions-item__head {
    width: 83%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions-item__btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
  
  .questions-item__btn::after {
    left: 6px;
    top: 14px;
    width: 18px;
    height: 1px;
  }
  
  .questions-item__btn::before {
    top: 6px;
    left: 14px;
    width: 1px;
    height: 18px;
  }

  .questions-item__invisible {
    width: 90%;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 375px) {
  .questions {
    margin-bottom: 65px;
  }

  .questions-container {
		padding: 0 15px;
  }

  .questions-title {
    padding-left: 0;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions-item__visible {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .questions__item {
    padding-left: 0px;
  }

  .questions-item__invisible {
    width: 90%;
    font-size: 12px;
    line-height: 16px;
  }

}
/* @media (max-width: 1780px) {

  .questions {
    margin-bottom: 50px;
  }

  .questions-container {
    max-width: 944px;
  }

  .questions__item {
    margin: 0px;
    padding: 29px 0px;
  }

  .questions-item__head {
    font-size: 20px;
    width: 85%;
  }

  .questions-item__btn {
    /* margin-left: 100px; */
  /* }

  .questions-item__visible {
    padding-left: 0;
  }

}



@media (max-width: 1023px) and (min-width: 768px) {
  .questions-container {
		max-width: 768px;
		padding: 0 30px 0 47px;
  }

  .questions-title {
    font-size: 47px;
  }

  .questions__item {
    margin: 0px;
    padding: 25px 0px;
  }

  .questions-item__head {
    width: 75%;
  }

  .questions-item__btn {
    margin-right: 15px;
  }

  .questions-item__invisible {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .questions {
    margin-bottom: 38px;
  }
  .questions-container {
		width: 320px;
		padding: 0 15px 0 15px;
  }

  .questions-title {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions-item__visible {
    padding: 0;
  }

  .questions__item {
    margin-top: 0px;
    padding-top: 21px;
    padding-bottom: 22px;
  }

  .questions-item__head {
    width: 78%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions-item__btn {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
  
  .questions-item__btn::after {
    left: 6px;
    top: 14px;
    width: 18px;
    height: 1px;
  }
  
  .questions-item__btn::before {
    top: 6px;
    left: 14px;
    width: 1px;
    height: 18px;
  }

  .questions-item__invisible {
    width: 90%;
    font-size: 12px;
    line-height: 16px;
  }
} */ 