 @media (max-width: 1800px) {
  .hero {
    margin-bottom: 80px;
    padding: 0 15px;
  }

  .hero-content {
    width: 80%;
  }

  .hero-content__title {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__slide {
    margin: 0;
    padding: 80px 100px 115px 45px;
  }

  .hero__descripton {
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 0 50px;
    padding-right: 50px;
  }

  .hero-content {
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 75px;
    display: block;
    width: 90%;
  }

  .swiper-wrapper {
    left: 0px;
  }


  .hero-content__descripton {
    width: 95%;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    font-size: 24px;
  }

  .hero-slide__one {
    background: url("../img/hero1-1024-1x.jpg") no-repeat;
    
  }
  
  .hero-slide__two {
    background: url("../img/hero2-1024-1x.jpg") no-repeat;
  }
  
  .hero-slide__tree {
    background: url("../img/hero3-1024-1x.jpg") no-repeat;
  }

}

@media (max-width: 975px) {
  .hero-content {
    width: 90%;
    padding: 60px 0px 115px 50px;
    width: 98%;
  }
}

@media (max-width: 768px) {

  .hero {
    padding: 0 50px 0 50px;
  }

  .hero-content {
    padding: 160px 0px 160px 40px;
  }

  .hero-content__title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 61px;
  }

  .hero-content__descripton {
    width: 90%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  .swiper-wrapper {
    left: 0px;
  }

  .hero-slide__one {
    background: url("../img/hero1-768-1x.jpg") no-repeat;
  }

  .hero-slide__two {
    background: url("../img/hero2-768-1x.jpg") no-repeat;
  }

  .hero-slide__tree {
    background: url("../img/hero3-768-1x.jpg") no-repeat;
  }

  .hero__slide {
    background-size: cover;
  }
}

@media (max-width: 640px) {
  .hero{
    padding: 0 15px;
    margin-bottom: 40px;
  }

  .hero-content__title {
    font-size: 36px;
    line-height: 43px;
  }

  .hero-content__descripton {
    width: 99%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 33px;
  }

  .hero-content__btn {
    display: block;
    padding: 13px 29px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  
} 

@media (max-width: 375px) {
   .hero {
    margin-bottom: 60px;
  }

  .hero-content {
    padding: 60px 21px 60px 25px;
  }

  .hero-content__title {
    margin: 0;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero-content__descripton {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero-content__btn {
    margin: 0 auto;
  }

  .hero-slide__one {
    background-image: url("../img/hero1-320-1x.jpg");
  }

  .hero-slide__two {
    background-image: url("../img/hero2-320-1x.jpg");
  }

  .hero-slide__tree {
    background-image: url("../img/hero3-320-1x.jpg");
  }

  .swiper-pagination{
    margin-bottom: 0;
  }

}