.questions {
  margin-bottom: 97px;
}

.questions-title {
  margin-bottom: 42px;
}

.questions__list {
  border-top: 1px solid #CACACA;
}

.ui-accordion-header-icon {
  display: none;
}

.questions__item {
  width: 100%;
  border-bottom: 1px solid #CACACA;
  margin-top: 38px;
  padding-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
}

.questions-item__visible {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.questions-item__visible::before {
  position: absolute;
  content: "";
  top: -25px;
  left: 0;
  right: 0;
  bottom: -25px;
}

.questions-item__head {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  transition: color 0.3s ease-in-out;
}

.questions-item__head:hover, 
.questions-item__head:active {
  cursor: pointer;
  color: var(--color-orange);
}

.questions-item__btn {
  position: relative;
  display: flex;
  align-self: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #ECECEC;
}

.questions-item__btn::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 24px;
  align-self: center;
  width: 30px;
  height: 2px;
  background: #666666;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.questions-item__btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 24px;
  align-self: center;
  width: 2px;
  height: 30px;
  background: #666666;
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.questions-item__btn:hover {
  background-color: #D2D2D2;
}

.ui-state-active .questions-item__btn {
  transform: rotate(45deg);
  outline: white;
}

.questions-item__invisible {
  line-height: 32px;
  height: 100% !important;
} 